<% content_for :title, "Parošina Admin" %>
<div class="container">
  <div class="row">
    <div class="seven columns">
      <h1>What do you wanna do?</h1>
    </div>
  </div>

  <div class="row">
    <div class="seven columns">
      <%= link_to 'Voucher Codes', voucher_codes_path, class: 'button' %>
    </div>
  </div>

  <div class="row">
    <div class="seven columns">
      <a href="https://pivoradosina.sk" class="button" target="_blank">See the Website</a>
    </div>
  </div>

  <div class="row">
    <div class="seven columns">
      <a href="https://webmail.forpsi.com" class="button" target="_blank">Log into my Mailbox</a>
    </div>
  </div>
</div>
